@model List<category>
@{
    ViewBag.Title = "dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>

<table width="40%" style="font-size:20px;">
    <tr>
        <td> <strong> General </strong></td>
        <td><br /></td>
    </tr>
    <tr>
        <td> Users Count: </td>
        <td> @ViewBag.numberOfUsers </td>
    </tr>
    <tr>
        <td> All Posts Count: </td>
        <td> @ViewBag.numberOfPosts </td>
    </tr>
    <tr>
        <td><br /><br /></td>
    </tr>
    <tr>
        <td>
            <hr style="height:2px;border-width:0;color:gray;background-color:gray">
        </td>
    </tr>
    <tr>
        <td><br />  <br /></td>
    </tr>
    <tr>
        <td> <strong> Categories </strong> </td>
        <td><br /></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td> @item.categoryName Count: </td>
            <td> @item.posts.ToList().Count() </td>
        </tr>
    }
</table>
