@model List<user>
@{
    ViewBag.Title = "usersBrief";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quick breif about users</h2>
<br/>
<br/>
<table width="100%" style="font-size:20px;">
    <tr>
        <td> <strong> Username </strong> </td>
        <td> <strong> Full Name </strong> </td>
        <td> <strong> Email </strong> </td>
    </tr>
    <tr>
       <td><hr style="height:2px;border-width:0;color:gray;background-color:gray"></td>
       <td><hr style="height:2px;border-width:0;color:gray;background-color:gray"></td>
       <td><hr style="height:2px;border-width:0;color:gray;background-color:gray"></td>       
    </tr>
    <tr>
        <td> <br /> </td>
        <td> <br /> </td>
        <td> <br /> </td>
    </tr>
    @foreach (var item in Model)
    {
        if (item.username == "admin")
        {
            continue;
        }
        <tr>
            <td> @Html.ActionLink(item.username, "viewAnotherUserProfile", "user", new { username = item.username }, null) </td> 
            <td> @item.firstName @item.lastName </td>
            <td> <a href="mailto:@item.email">@item.email</a> </td>
        </tr>
        <tr>
            <td> <br /> </td>
            <td> <br /> </td>
            <td> <br /> </td>
        </tr>
    }
</table>
