@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    you can reach us with <b>phones</b>: <br />
    <b>Omar Essam</b> +20 10 9599 8652 <br />
    <b>Youssef Mostafa</b> +201024750277<br />
    or by <b>email</b>:<br/>
    <b>Omar</b>: <br/>
    <b>Youssef</b> : ymostafa232@gmail.com
</p>
