@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Phone">P:</abbr>
    +201024750277
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ymostafa232@gmail.com">ymostafa232@gmail.com</a><br />
</address>